<main class="form">
  <div class="row">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <h2 class="form-heading">Employees</h2>
          <div class="card-body">
            <%=form_for(@employee) do |emp|%>
                <% if @employee.errors.any? %>
                    <ul class="alert alert-danger">
                      <% @employee.errors.full_messages.each do |msg| %>
                          <li class="alert-danger"><%= msg %></li>
                      <% end %>
                    </ul>
                <% end %>

                <div class="form-group row">
                  <label for="employee_no" class="col-md-4 col-form-label text-md-right">Employee No:</label>
                  <div class="col-md-6">
                    <%= emp.text_field :employee_no, autofocus: true, class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name:</label>
                  <div class="col-md-6">
                    <%= emp.text_field :first_name, class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name:</label>
                  <div class="col-md-6">
                    <%= emp.text_field :last_name, class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="joined_date" class="col-md-4 col-form-label text-md-right">Joined Date:</label>
                  <div class="col-md-6">
                    <%= emp.date_select :joined_date,:start_year => 2000,class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label text-md-right">Email ID:</label>
                  <div class="col-md-6">
                    <%= emp.email_field :email,class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="mobile" class="col-md-4 col-form-label text-md-right">Mobile No:</label>
                  <div class="col-md-6">
                    <%= emp.text_field :mobile,class: "form-control"  %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="employee_category" class="col-md-4 col-form-label text-md-right">Category:</label>
                  <div class="col-md-6">
                    <%= emp.select :employee_category_id, @categories,{prompt: 'Select'},{class: "form-control mdb-select"} %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="employee_position" class="col-md-4 col-form-label text-md-right">Position:</label>
                  <div class="col-md-6">
                    <%= emp.select :employee_position_id, @positions,{prompt: 'Select'},{class: "form-control mdb-select"} %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="organization" class="col-md-4 col-form-label text-md-right">Organization:</label>
                  <div class="col-md-6">
                    <%= emp.select :organization_id, @organizations,{prompt: 'Select'},{class: "form-control mdb-select"} %>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="location" class="col-md-4 col-form-label text-md-right">Status</label>
                  <div class="col-md-6">
                    <%= emp.check_box :status%>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-6 text-center">
                    <%= emp.submit "Add" ,class: 'btn btn-primary' %>
                  </div>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
