
  <div class="span12">
    <div class="row-fluid ">
      <div class="mstrContentOuter" >
        <div class="span12" style="padding-top: 50px;">
          <div class="span8" >
            <%=form_for(:employee_category, :action=>employees_new_category_path) do |cat|%>
                <% @employee_category.errors.full_messages.each do |msg| %>
                    <span class="help-block"><%= msg %></span>
                <% end %>              <div class="form_row">
            <span class="form_lbl">Category Name:</span>
            <span class="form_field"> <%= cat.text_field :name %></span>
          </div>
                <div class="form_row">
                  <span class="form_lbl">Status:</span>
                <span class="form_field">
                  <%= cat.check_box :status%>
                </span>
                </div>
                <div class="form_row">
                  <span class="button"><%= cat.submit "Create",:class=>"btn"%></span>
                </div>
            <%end%>
          </div>
          <div class="span4" >
            <%unless @employee_categories.blank?%>

                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <thead>
                  <tr>
                    <th class="text-center">Category Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <%@employee_categories.each do |category|%>
                      <tr>
                        <td class="pt-3-half" contenteditable="true"><%= category.name%></td>
                        <td class="pt-3-half" contenteditable="true"><%= category.status? ? 'Active' : 'In-Active'%></td>
                        <td class="pt-3-half" contenteditable="true"></td>
                      </tr>
                  <%end%>
                  </tbody>
                </table>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>






