<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_log.employee.full_name rescue " "%>
</p>

<p>
  <strong>Task:</strong>
  <%= @employee_log.task_id %>
</p>

<p>
  <strong>Log date:</strong>
  <%= @employee_log.log_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @employee_log.start_time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @employee_log.end_time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @employee_log.total_hours %>
</p>

<%= link_to 'Back', {controller: :employee_logs,action: :calendar_view} %>
