<h1>Listing Clients</h1>

<div class="row" >
  <%unless @clients.blank?%>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Status</th>
          <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <%@clients.each do |client|%>
            <tr>
              <td class="pt-3-half" contenteditable="true"><%= client.client_name %></td>
              <td class="pt-3-half" contenteditable="true"><%= client.status? ? 'Active' : 'In-Active'%></td>
              <td class="pt-3-half">
                <%= link_to 'Edit', edit_client_path(client)%> |
                <%= link_to 'Delete', client,method: :delete,data: { confirm: 'Are You sure?' }%>
              </td>
            </tr>
        <%end%>
        </tbody>
      </table>
  <%end%>
</div>

<br>

<%= link_to 'New Client', new_client_path %>
