<main class="form">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <h2 class="form-heading">Organization</h2>
          <div class="card-body">
            <%= form_for(@organization, url: organization_new_path,:multipart => true) do |f| %>
                <%= render "devise/shared/error_messages", resource: @organization %>

                <div class="form-group row">
                  <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                  <div class="col-md-6">
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="location" class="col-md-4 col-form-label text-md-right">Location</label>
                  <div class="col-md-6">
                    <%= f.select :location, @locations,{prompt: 'Select'},{class: "form-control mdb-select"} %>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="website" class="col-md-4 col-form-label text-md-right">Website</label>
                  <div class="col-md-6">
                    <%= f.text_field :website, autocomplete: "website", class: "form-control" %>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="logo" class="col-md-4 col-form-label text-md-right">Logo</label>
                  <div class="col-md-6">
                    <%= f.file_field :logo, class: "form-control" %>
                  </div>
                </div>
                <div class="actions">
                  <%= f.submit "Add" ,class: 'btn btn-primary' %>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="span4" >
      <%unless @organizations.blank?%>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Location</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <%@organizations.each do |organization|%>
                <tr>
                  <td class="pt-3-half" contenteditable="true"><%= link_to organization.name,organization.website ,:target => '_blank' %></td>
                  <td class="pt-3-half" contenteditable="true"><%= organization.location.name rescue "" %></td>
                  <td class="pt-3-half"><%= link_to 'Edit', edit_organization_path(organization)%></td>
                </tr>
            <%end%>
            </tbody>
          </table>
      <%end%>
    </div>

</main>


