<div class="span4" >
  <h4 class="form-heading">Organizations</h4>

<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name,organization.website ,:target => '_blank' %></td>
        <td><%= organization.location.name rescue ""%></td>
        <td>
          <%= link_to 'Edit', edit_organization_path(organization)%> |
          <%= link_to 'Delete', organization,method: :delete,data: { confirm: 'Are You sure?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Organization', new_organization_path %>
</div>
